# Editor files
*.swp
*.swo
*~
.DS_Store
.vscode/

# Neovim
nvim/.luarc.json
nvim/.luarc.jsonc

# Temporary files
*.tmp
*.log
*.bak

# OS files
Thumbs.db
.DS_Store
.AppleDouble
.LSOverride

# Install artifacts
*.sh.download
Miniconda*.sh
/bin/nvim
bin/__pycache__/
